.compenies-section {
    max-width: 100%;
    margin: 157px auto 136px;
    text-align: center;
}
.compenies-section__text {
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 12px;
    font-weight: 300;
    line-height: 16px;
}
.compenies-section__img {
    max-width: 100%;
    text-align: center;
} 
.compenies-section__img img {
    max-width: 100%;
    height: auto;
}
.compenies-section__img-mobile {
    display: none;
}
.compenies-section__img-mobile img {
    width: 100%;
    height: 86px;
}

@media screen and (max-width: 390px) {
    .compenies-section__img {
        display: none;
    }
    .compenies-section__img-mobile {
        display: block;
    }
}