.footer {
    margin-top: 136px;
    background-color: rgba(222, 220, 219, 0.5);
    height: fit-content;
}
.footer__wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 175px 187px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}
.footer__wrapper h3 {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.footer__wrapper p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 24px;
}
.copyright {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    padding-bottom: 18px;
}

@media screen and (max-width: 390px) {
    .footer__wrapper {
        flex-direction: column;
        padding: 104px 24px 0px;
        text-align: center;
        gap: 72px;
    }
    .footer__wrapper h3 {
        font-size: 18px;
        line-height: 27px;
    }
    .footer__wrapper p {
        font-size: 16px;
        line-height: 24px;
    }
    .footer__wrapper__item p:last-child {
        margin-bottom: unset;
    }
}